<!DOCTYPE html>
<html>
<head>
    <title>Remote Desktop</title>
    <style>
        body { margin: 0; background: black; }
        #screen {
            width: 100vw;
            height: 100vh;
            object-fit: contain;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <img id="screen" src="">
    <script>
        const socket = io();
        const screen = document.getElementById('screen');
        
        socket.on('screen', function(data) {
            screen.src = 'data:image/jpeg;base64,' + data.data;
        });
    </script>
</body>
</html> 